body {
    background-color: rgb(51, 51, 51);
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Arial Black';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-num {
    font-size: 8em;
}

.eye {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    position: relative;
    width: 100px;
}

.eye::after {
    background: #000;
    border-radius: 50%;
    bottom: 56.1px;
    content: '';
    height: 33px;
    position: absolute;
    right: 33px;
    width: 33px;
}

p {
    margin-bottom: 4em;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: lightgray;
}