<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat For You Login</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/error/style_500.css"/>
    <script src="/js/error/script_500.js"></script>
</head>
<body>
<div>
    <p class='sub-text'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
    <span class='error-num'>5</span>
    <div class='eye'></div>
    <div class='eye'></div>
    <p class='sub-text'>뭔가가 잘못된거 같아요
        <i>문제</i>를 찾아서 해결하도록 노력해볼게요 >,<</p>
    <a href='/'>Go back</a>
</div>
</body>
</html>