<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="styleSheet" href="/css/rtc/kurentostyle.css" type="text/css" media="screen">

<!--<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>-->
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/js/rtc/participant.js"></script>
<script src="/js/rtc/kurento-utils.js"></script>
<script src="/js/rtc/conferenceroom.js"></script>

</head>
<body>
	<div id="container">
		<div id="wrapper">
			<div id="join" class="animate join">
				<h1>Join a Room</h1>
				<form onsubmit="register(); return false;" accept-charset="UTF-8">
					<input type="hidden" id="roomId" th:value="${roomId}">
					<input type="hidden" id="uuid" th:value="${uuid}">
<!--					<p>-->
<!--						<input type="text" name="name" value="" id="name"-->
<!--							placeholder="Username" required>-->
<!--					</p>-->
<!--					<p>-->
<!--						<input type="text" name="room" value="" id="roomName"-->
<!--							placeholder="Room" required>-->
<!--					</p>-->
					<p class="submit">
						<input type="submit" name="commit" value="Join!">
					</p>
				</form>
			</div>
			<div id="room" style="display: none;">
				<h2 id="room-header"></h2>
				<div id="participants"></div>
				<input type="button" id="button-leave" onmouseup="leaveRoom();"
					value="Leave room">
			</div>
		</div>
	</div>
</body>
</html>
