<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.WebRTC-Experiment.com/getScreenId.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/js/rtc/participant.js"></script>
    <script src="/js/rtc/kurento-utils.js"></script>
    <script src="/js/rtc/kurento-service.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="styleSheet" href="/css/rtc/kurentostyle.css" type="text/css" media="screen">


</head>
<body>
<div id="container">
    <div id="wrapper">
        <div id="room">
            <input type="hidden" id="roomId" th:value="${roomId}">
            <input type="hidden" id="uuid" th:value="${uuid}">
            <input type="hidden" id="roomName" th:value="${roomName}">


            <div class="col-lg-12 mb-3">
                <div class="d-flex justify-content-around mb-3">
                    <div class="mr-2" data-toggle="buttons">
                        <input type="button" class="btn btn-outline-success" id="screenShareBtn" value="share Off"
                               data-flag="false" onclick="screenShare()">
                    </div>
                </div>
            </div>

            <h2 id="room-header"></h2>
            <div id="participants"></div>
            <input type="button" id="button-leave" onmouseup="leaveRoom();"
                   value="Leave room">
        </div>
    </div>
</div>
</body>
</html>
