<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="https://cdn.WebRTC-Experiment.com/getScreenId.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <link rel="styleSheet" href="/css/rtc/kurentostyle.css" type="text/css" media="screen">
    <link rel="styleSheet" href="/css/rtc/floating_chat.css" type="text/css" media="screen">
</head>
<script>
</script>
<style>
</style>
<body>
<div id="container">
    <div id="wrapper">
        <div id="room">
            <input type="hidden" id="roomId" th:value="${roomId}">
            <input type="hidden" id="uuid" th:value="${uuid}">
            <input type="hidden" id="roomName" th:value="${roomName}">

            <div class="col-lg-12 mb-3">
                <div class="d-flex justify-content-around mb-3">
                    <div class="mr-2" data-toggle="buttons">
                        <input type="button" class="btn btn-outline-success" id="screenShareBtn" value="share Off"
                               data-flag="false" onclick="screenShare()">
                        <input type="button" class="btn btn-outline-success localVideoToggle" id="videoBtn" value="video Off"
                               data-flag="true">
                        <input type="button" class="btn btn-outline-success localAudioToggle" id="audioBtn" value="audio Off"
                               data-flag="true">
                    </div>
                </div>
            </div>
            <!-- "유저 설정" 모달 트리거 버튼 -->
            <div class="settings-button d-flex justify-content-around mb-3">
                <button type="button" class="btn btn-primary" id="userSetting" data-toggle="modal" data-target="#userSettingsModal">
                    유저 설정
                </button>
            </div>

            <h2 id="room-header"></h2>
            <div id="participants"></div>
            <input type="button" id="button-leave"
                   value="Leave room">
        </div>
    </div>

    <!-- chatting -->
    <div class="floating-chat">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="chat">
            <div class="header">
            <span class="title">
                Tell Me Your Story
            </span>
                <button>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <ul class="messages">

            </ul>
            <div class="footer">
                <div class="text-box" contenteditable="true" disabled="true"></div>
                <button id="sendMessageBtn">send</button>
            </div>
        </div>
    </div>
    <!-- chatting end -->
</div>
<script src="/js/rtc/participant.js"></script>
<script src="/js/rtc/kurento-utils.js"></script>
<script src="/js/rtc/kurento-service.js"></script>
<script src="/js/rtc/dataChannel.js"></script>
<script src="/js/rtc/dataChannelChatting.js"></script>
</body>
</html>

<!-- HTML에 음량 조절 슬라이더 추가 -->
<div class="volume-control" type="hidden">
    <input type="hidden" id="volumeControl" min="0" max="1" step="0.01" value="0.5" />
</div>

<!-- "유저 설정" 모달 -->
<div class="modal fade" id="userSettingsModal" tabindex="-1" role="dialog" aria-labelledby="userSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userSettingsModalLabel">유저 설정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 여기에 participants 내용이 들어갈 예정 -->
                <ul id="participantsList" class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- Connection Fail Modal -->
<div class="modal" tabindex="-1" role="dialog" id="connectionFailModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">연결 실패</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> 서버와의 연결 불안정으로 인해 연결이 종료되었습니다.<br></br>
                    방에 재입장하여 다시 연결해주시기 바랍니다.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="reconnectButton">확인</button>
            </div>
        </div>
    </div>
</div>