<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.4.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"></script>
    <style>
        #video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<video id="video" width="500" height="500" autoplay></video>
<script>
    const video = document.getElementById("video");
    const modelPromise = handTrack.load();

    Promise.all([modelPromise, faceapi.nets.tinyFaceDetector.loadFromUri('/models')])
        .then(startVideo)
        .catch(error => console.error(error));

    function startVideo() {
        handTrack.startVideo(video).then(status => {
            if (status) {
                setInterval(async () => {
                    const predictions = await modelPromise.estimateHands(video);

                    if (predictions.length > 0) {
                        console.log("Hand detected at x: ", predictions[0].bbox[0]);
                        console.log("Hand detected at y: ", predictions[0].bbox[1]);
                        console.log("Hand width: ", predictions[0].bbox[2]);
                        console.log("Hand height: ", predictions[0].bbox[3]);
                    }
                }, 1000);
            }
        });
    }
</script>
</body>
</html>
