<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <script th:inline="javascript">

        var roomId;

        $(function(){
            const $maxChk = $("#maxChk");
            const $maxUserCnt = $("#maxUserCnt");

            // 모달창 열릴 때 이벤트 처리 => roomId 가져오기
            $("#enterRoomModal").on("show.bs.modal", function (event) {
                roomId = $(event.relatedTarget).data('id');
                // console.log("roomId: " + roomId);

            });

            $("#confirmPwdModal").on("show.bs.modal", function (e) {
                roomId = $(e.relatedTarget).data('id');
                // console.log("roomId: " + roomId);

            });

            // 채팅방 설정 시 비밀번호 확인 - keyup 펑션 활용
            $("#confirmPwd").on("keyup", function(){
                let $confirmPwd = $("#confirmPwd").val();
                const $configRoomBtn = $("#configRoomBtn");
                let $confirmLabel = $("#confirmLabel");

                $.ajax({
                    type : "post",
                    url : "/chat/confirmPwd/"+roomId,
                    data : {
                        "roomPwd" : $confirmPwd
                    },
                    success : function(result){
                        // console.log("동작완료")
                        if(result){
                            $configRoomBtn.attr("class", "btn btn-primary");
                            $configRoomBtn.attr("aria-disabled", false);

                            $confirmLabel.html("<span id='confirm'>비밀번호 확인 완료</span>");
                            $("#confirm").css({
                                "color" : "#0D6EFD",
                                "font-weight" : "bold",
                            });

                        }else{
                            $configRoomBtn.attr("class", "btn btn-primary disabled");
                            $configRoomBtn.attr("aria-disabled", true);

                            $confirmLabel.html("<span id='confirm'>비밀번호가 틀립니다</span>");
                            $("#confirm").css({
                                "color" : "#FA3E3E",
                                "font-weight" : "bold",
                            });

                        }
                    }
                })
            })

            // 기본은 유저 설정 칸 미활성화
            $maxUserCnt.hide();

            // 체크박스 체크에 따라 인원 설정칸 활성화 여부
            $maxChk.change(function(){
                if($maxChk.is(':checked')){
                    $maxUserCnt.show();
                }else{
                    $maxUserCnt.hide();
                }
            })

        })


        // 채팅방 생성
        function createRoom() {

            let name = $("#roomName").val();
            let pwd = $("#roomPwd").val();
            let secret = $("#secret").is(':checked');
            let secretChk = $("#secretChk");

            // console.log("name : " + name);
            // console.log("pwd : " + pwd);

            if (name === "") {
                alert("방 이름은 필수입니다")
                return false;
            }
            if ($("#" + name).length > 0) {
                alert("이미 존재하는 방입니다")
                return false;
            }
            if (pwd === "") {
                alert("비밀번호는 필수입니다")
                return false;
            }

            if (secret) {
                secretChk.attr('value', true);
            } else {
                secretChk.attr('value', false);
            }

            return true;
        }

        // 채팅방 입장 시 비밀번호 확인
        function enterRoom(){
            let $enterPwd = $("#enterPwd").val();

            $.ajax({
                type : "post",
                url : "/chat/confirmPwd/"+roomId,
                data : {
                    "roomPwd" : $enterPwd
                },
                success : function(result){
                    // console.log("동작완료")
                    if(result && chkRoomUserCnt(roomId)){
                        // console.log("확인 : "+chkRoomUserCnt(roomId))

                        location.href = "/chat/room?roomId="+roomId;
                    }else{
                        alert("비밀번호가 틀립니다. \n 비밀번호를 확인해주세요")
                    }
                }
            })
        }

        // 채팅방 삭제
        function delRoom(){
            location.href = "/chat/delRoom/"+roomId;
        }

        // 채팅방 입장 시 인원 수에 따라서 입장 여부 결정
        function chkRoomUserCnt(roomId){
            let chk = false;

            // console.log("실행되나? "+roomId)
            $.ajax({
                type : "GET",
                url : "/chat/chkUserCnt/"+roomId,
                success : function(result){

                    console.log("result : "+result)

                    if (!result) {
                        alert("채팅방이 꽉 차서 입장 할 수 없습니다");
                        chk = result;
                    }
                }
            })
            console.log("chk : " + chk);
            return chk;
        }


    </script>
    <style>
        a {
            text-decoration: none;
        }

        #table {
            margin-top: 40px;
        }

        h2 {
            margin-top: 40px;
        }

        input#maxUserCnt {
            width: 160px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="container">
        <h2>채팅방 리스트</h2>
        <table class="table table-hover" id="table">
            <tr>
                <th scope="col">채팅방명</th>
                <th scope="col">잠금 여부</th>
                <th scope="col">참여 인원</th>
                <th scope="col">채팅방 설정</th>
            </tr>
            <th:block th:fragment="content">

                <tr th:each="room : ${list}">
                    <span class="hidden" th:id="${room.roomName}"></span>
                    <td th:if="${room.secretChk}">
                        <a href="#enterRoomModal" data-bs-toggle="modal" data-target="#enterRoomModal" th:data-id="${room.roomId}">[[${room.roomName}]]</a>
                    </td>
                    <td th:if="${!room.secretChk}">
                        <!-- thymeleaf 의 변수를 onclick 에 넣는 방법 -->
                        <a th:href="@{/chat/room(roomId=${room.roomId})}" th:roomId="${room.roomId}" onclick="return chkRoomUserCnt(this.getAttribute('roomId'))">[[${room.roomName}]]</a>
                    </td>
                    <td>
                        <span th:if="${room.secretChk}">
                            🔒︎
                        </span>
                    </td>
                    <td>
                        <span class="badge bg-primary rounded-pill">[[${room.userCount}]]/[[${room.maxUserCnt}]]</span>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="configRoom" data-bs-toggle="modal" data-bs-target="#confirmPwdModal" th:data-id="${room.roomId}">채팅방 설정</button>
                    </td>
                </tr>
            </th:block>

        </table>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#roomModal">방 생성</button>

    </div>
</div>

<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 생성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/chat/createroom" onsubmit="return createRoom()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="roomName" class="col-form-label">방 이름</label>
                        <input type="text" class="form-control" id="roomName" name="roomName">
                    </div>
                    <div class="mb-3">
                        <label for="roomPwd" class="col-form-label">방 설정 번호(방 삭제시 필요합니다)</label>
                        <input type="text" class="form-control" id="roomPwd" name="roomPwd">
                    </div>
                    <div class="mb-3">
                        <label for="maxUserCnt" class="col-form-label">채팅방 인원 설정(미체크 시 기본 100명)
                            <input class="form-check-input" type="checkbox" id="maxChk"></label>
                        <input type="text" class="form-control" id="maxUserCnt" name="maxUserCnt">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="secret">
                        <input type="hidden" name="secretChk" id="secretChk" value="">
                        <label class="form-check-label" for="secret">
                            채팅방 잠금
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="방 생성하기">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="enterRoomModal" tabindex="-1" aria-labelledby="enterRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 비밀번호를 입력해주세요</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="roomName" class="col-form-label">방 비밀번호</label>
                    <input type="text" class="form-control" id="enterPwd" name="enterPwd">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="enterRoom()">입장하기</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="confirmPwdModal" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 설정을 위한 패스워드 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="confirmPwd" class="col-form-label" id="confirmLabel">비밀번호 확인</label>
                <input type="text" class="form-control" id="confirmPwd">
            </div>
            <div class="modal-footer">
                <button id="configRoomBtn" class="btn btn-primary disabled" data-bs-target="#configRoomModal" data-bs-toggle="modal" aria-disabled="true">채팅방 설정하기</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="configRoomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 설정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="chPwd" class="col-form-label">비밀번호 변경</label>
                        <input type="text" class="form-control" id="chPwd" name="roomName">
                    </div>
                    <div class="mb-3">
                        <label for="chRoomName" class="col-form-label">채팅방 이름 변경</label>
                        <input type="text" class="form-control" id="chRoomName" name="roomPwd">
                    </div>
                    <div class="mb-3">
                        <label for="chRoomUserCnt" class="col-form-label">채팅방 인원 변경</label>
                        <input type="text" class="form-control" id="chRoomUserCnt" name="roomPwd">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chSecret">
                        <input type="hidden" name="secretChk" id="chSecretChk" value="">
                        <label class="form-check-label" for="secret">
                            채팅방 잠금
                        </label>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" onclick="delRoom()">방 삭제</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>
</body>
</html>